@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient( 120deg,  #16c0c3, #901de5); */ /*backgroud inicial do projeto*/
}

img {
  display: flex;
  width: 100%;
  height: 100vh;
}

.relogio {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 550px;
  backdrop-filter: blur(25px);
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, .5) ;
}

.relogio section {
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(5, 5, 5, .9);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
  border-radius: 7px;
  letter-spacing: 3px;
}

.relogio span {
  font-family: "Open Sans", serif;
  font-weight: bolder;
  font-size: 60px;
}

.relogio span.tempo {
  padding-top: 15px;
  font-size: 10px;
}